.about {
  position: relative;
  padding-bottom: 0;
}

.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 240px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../assets/images/img4.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.about .container {
  max-width: 1000px;
}

.about__title {
  font-size: var(--font-s1ze-200);
  text-transform: uppercase;
  color: var(--color-100);
}

.about__name {
  font-size: var(--font-s1ze-500);
}

.about__container {
  width: 100%;
  padding: 2rem 0;
  border-radius: 4px;
  max-width: 800px;
  margin: 0 auto;
}

.about__thumbnail {
  position: relative;
  --scale: min(80vw, 200px);
  width: var(--scale);
  height: var(--scale);
  background: url(../assets/images/dp5.jpg) no-repeat;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin-bottom: 2rem;
  box-shadow: inset 0 0 0 4px var(--color-120);
}

.about__details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.about__details button {
  position: relative;
  padding: 0.5rem 2rem;
  border: none;
  outline: none;
  background-color: var(--color-710);
  color: var(--color-100);
  font-family: inherit;
  font-size: var(--font-s1ze-200);
  border-radius: 8px;
  cursor: pointer;
}

.about__details button span {
  position: absolute;
  top: -3.5rem;
  right: 0;
  width: max-content;
  opacity: 0;
  pointer-events: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-600);
  transition: opacity 200ms;
  border-radius: inherit;
}

.about__details button:focus span {
  opacity: 1;
  pointer-events: all;
}

.about__details small {
  display: inline-block;
  margin: 0.4rem 0;
}

.about__essay {
  max-width: 640px;
  margin: 2rem 0;
}

.about__list__container {
  margin: 4rem 0;
  max-width: 720px;
}

.about__opportunities {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.about__opportunities li {
  padding: 1rem 2rem;
  border: 1px solid var(--color-120);
  list-style: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 34px;
}

.about__journey {
  padding: 4rem 0;
}

.journey__story {
  --icon-scale: min(10vw, 64px);
  position: relative;
  padding-top: 4rem;
  display: flex;
  max-width: 800px;
}

.story__icon {
  flex: 1 0 var(--icon-scale);
  width: var(--icon-scale);
  height: var(--icon-scale);
  background-color: var(--color-120);
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.journey__story:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(var(--icon-scale) * 2);
  width: 2px;
  height: 100%;
  transform: translate(calc(var(--icon-scale) * -1.5), 4.2rem);
  background-color: var(--color-710);
}

.story__title {
  color: var(--color-100);
}

.story__timeline {
  display: inline-block;
  margin: 0.5rem 0 1rem;
}

.story__text {
  background-color: var(--color-710);
  padding: 2rem min(10vw, 1rem);
  border-radius: 8px;
}

.story__text p {
  margin-bottom: 1rem;
}

.story__list li {
  margin-top: 1rem;
  list-style: inside;
  font-size: var(--font-s1ze-200);
  width: fit-content;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 4px;
  color: var(--color-120);
  background-color: var(--color-710);
}

.story__list_container {
  padding: 2rem 0;
}

.story__list_container > span {
  font-size: var(--font-s1ze-200);
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .about .container {
    width: 80%;
  }

  .about__opportunities li {
    padding: 1rem 4rem;
  }
}
