.contact__container {
  max-width: 1000px;
  padding: 2rem 0;
}

.contact__container h2 {
  text-transform: capitalize;
  font-size: var(--font-s1ze-800);
}

.contact__title {
  text-transform: uppercase;
  font-size: var(--font-s1ze-200);
  display: block;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
