.footer__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-s1ze-200);
  padding-bottom: 2rem;
}

.footer__nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.footer__nav__list li {
  margin: 1rem 1rem;
}

.footer__nav__list a {
  background-color: var(--color-710);
  min-width: 120px;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  text-align: center;
  transition: color 200ms;
}

.footer__nav__list a:hover {
  color: var(--color-100);
}
.footer__nav__list a:hover::after,
.footer__nav__list a:active::after {
  transform: rotate(0);
}

.footer__nav__list a::after {
  content: "↗";
  margin: 0 0.4rem;
  display: inline-block;
  transition: transform 200ms;
  transform: rotate(-360deg);
}
