@font-face {
  font-family: Satoshi;
  src: url(../assets/fonts/Satoshi-Regular.woff) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Satoshi;
  src: url(../assets/fonts/Satoshi-Bold.woff) format("woff");
  font-weight: bold;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-padding-top: 8rem;
}

:root {
  /* Color Palette */
  --color-100: hsl(0, 0%, 100%);
  --color-110: hsl(0, 0%, 98%);
  --color-120: hsl(209, 100%, 93%);
  --color-200: hsl(211, 100%, 61%);
  --color-300: hsl(235, 93%, 46%);
  --color-400: hsl(247, 67%, 20%);
  --color-500: hsl(229, 57%, 53%);
  --color-600: hsl(17, 92%, 54%);
  --color-700: hsl(0, 0%, 0%);
  --color-710: hsl(0, 0%, 15%);
  --color-800: hsl(240, 1%, 69%);
  --color-900: hsl(0, 0%, 93%);

  /* Font Scales */
  --font-s1ze-100: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
  --font-s1ze-200: clamp(0.8rem, calc(0.61rem + 0.82vw), 1rem);
  --font-s1ze-300: clamp(1rem, calc(0.63rem + 1.22vw), 1.25rem);
  --font-s1ze-400: clamp(0.98rem, calc(0.64rem + 1.74vw), 1.88rem);
  --font-s1ze-500: clamp(1.11rem, calc(0.63rem + 2.41vw), 2.34rem);
  --font-s1ze-600: clamp(1.25rem, calc(0.59rem + 3.29vw), 2.93rem);
  --font-s1ze-700: clamp(1.4rem, calc(0.52rem + 4.41vw), 3.66rem);
  --font-s1ze-800: clamp(1.58rem, calc(0.41rem + 5.85vw), 4.58rem);

  /* layout sizes */
  --max-width: 1200px;
}

body {
  font-size: var(--font-s1ze-300);
  font-family: "Satoshi", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  line-height: 1.5;
  color: var(--color-800);
  background-color: var(--color-700);
}

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 1.2;
  overflow-wrap: break-word;
  color: var(--color-900);
}

h1 {
  font-size: var(--font-s1ze-700);
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: var(--font-s1ze-600);
}

section {
  width: 100%;
  padding: 8rem 1rem;
  margin: 0 auto;
}

.container {
  width: 95%;
  max-width: var(--max-width);
  padding: 1rem 0;
  margin: 0 auto;
}

.cta {
  margin-top: 2rem;
  display: block;
  color: var(--color-100);
  background-color: var(--color-300);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4rem;
  border-radius: 16px;
  font-weight: bold;
  transition: 400ms;
}

.cta:hover {
  background-color: var(--color-600);
}

@media (min-width: 540px) {
  :root {
    --max-width: 90%;
  }
}

@media (min-width: 1100px) {
  :root {
    --max-width: 1200px;
  }
}
