.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 0;
}

.header__container {
  width: 90%;
  max-width: 1200px;
  font-size: var(--font-s1ze-200);
  border-radius: 48px;
  padding: 0.6rem max(2vh, 1rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  font-weight: bold;
  color: var(--color-900);
}

.header__logo span {
  display: inline-block;
  -moz-transform-origin: bottom center;
  -webkit-transform-origin: bottom bottom;
  transform-origin: bottom center;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.header__logo:hover span {
  -moz-animation: wave 500ms linear alternate;
  -webkit-animation: wave 500ms linear alternate;
  animation: wave 500ms linear alternate;
  -moz-animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0% {
    -moz-transform: rotate(-30deg) scale(1.5);
    -moz-transform: rotate(-30deg) scale(1.5);
    transform: rotate(-30deg) scale(1.5);
  }
  70% {
    -moz-transform: rotate(30deg) scale(1.5);
    -webkit-transform: rotate(30deg) scale(1.5);
    transform: rotate(30deg) scale(1.5);
  }
  100% {
    -moz-transform: rotate(0deg) scale(1.5);
    -webkit-transform: rotate(0deg) scale(1.5);
    transform: rotate(0deg) scale(1.5);
  }
}

.header__nav {
  display: none;
}

.header__nav a {
  font-weight: bold;
  transition: color 400ms;
}

.header__nav a:hover {
  color: var(--color-100);
}

.header__nav ul li {
  list-style: none;
  margin: 0 2rem;
  display: inline-block;
}

.header__menu__btn {
  --scale: 48px;
  position: relative;
  width: var(--scale);
  height: var(--scale);
  background: var(--color-710);
  color: var(--color-900);
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 400ms;
}

.header__menu__btn[data-toggle="true"] {
  background-color: var(--color-300);
}

.header__menu__btn::before,
.header__menu__btn::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 2px;
  border-radius: 4px;
  background-color: currentColor;
  transition: transform 400ms;
}

.header__menu__btn::before {
  transform: translate(0, -4px);
}

.header__menu__btn::after {
  transform: translate(0, 4px);
}

.header__menu__btn[data-toggle="true"]::before {
  transform: translate(0, 0) rotate(45deg);
}

.header__menu__btn[data-toggle="true"]::after {
  transform: translate(0, 0) rotate(-45deg);
}

@media (min-width: 768px) {
  .header__container {
    padding: 1.5rem;
  }

  .header__nav {
    display: flex;
  }

  .header__menu__btn {
    display: none;
  }
}
