.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header__container {
  width: 100%;
  min-height: 100px;
  max-width: 1200px;
  font-size: var(--font-s1ze-200);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  font-weight: bold;
  color: var(--color-900);
}

.header__nav {
  display: none;
}

.header__nav ul li {
  list-style: none;
  margin-left: 2rem;
  display: inline-block;
}

.header__menu__btn {
  --scale: 64px;
  position: relative;
  width: var(--scale);
  height: var(--scale);
  background-color: var(--color-300);
  color: var(--color-900);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 200ms;
}

.header__menu__btn::before,
.header__menu__btn::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  border-radius: 4px;
  background-color: currentColor;
  transition: transform 400ms;
}

.header__menu__btn::before {
  transform: translate(0, -4px);
}

.header__menu__btn::after {
  transform: translate(0, 4px);
}

.header__menu__btn[data-toggle="true"] {
  background-color: var(--color-700);
}

.header__menu__btn[data-toggle="true"]::before {
  transform: translate(0, 0) rotate(45deg);
}

.header__menu__btn[data-toggle="true"]::after {
  transform: translate(0, 0) rotate(-45deg);
}

.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-300);
  z-index: -1;
  transform: translate(-100%, 0);
  transition: transform 400ms ease-out;
}

.header__menu[data-toggle="true"] {
  transform: translate(0, 0);
}

@media (min-width: 768px) {
  .header__nav {
    display: flex;
  }

  .header__menu__btn {
    display: none;
  }
}
