.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero__container {
  max-width: 1000px;
}

.hero__heading {
  margin: 1rem 0;
  text-transform: capitalize;
}

.hero__heading span {
  display: block;
}

.hero__heading span:nth-child(2) {
  color: var(--color-800);
}
