.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.hero__container {
  max-width: 900px;
}

.hero__heading {
  margin: 1rem 0;
  text-transform: capitalize;
}

.hero__heading span {
  display: block;
}

.hero__heading span:nth-child(2) {
  color: transparent;
  background-image: linear-gradient(var(--color-120), var(--color-200));
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}
