.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-100);
  color: var(--color-700);
  transition: transform 1200ms;
  z-index: 11000;
  transform-origin: top;
}

.loader[data-loading="true"] {
  transform: scaleY(0);
  transform-origin: bottom;
}

.loader span {
  display: block;
  transition: opacity 200ms;
  margin-bottom: 1rem;
}

.loader div {
  font-weight: bold;
  font-size: var(--font-s1ze-700);
  transition: opacity 200ms;
}

.loader[data-loading="true"] span,
.loader[data-loading="true"] div {
  opacity: 0;
}
