.projects {
  padding-top: 0;
}

.projects__title {
  text-transform: uppercase;
  font-size: var(--font-s1ze-400);
}

.projects__container {
  --columns: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.projects__item {
  position: relative;
  background-color: var(--color-710);
  padding: 3rem 1rem;
  border-radius: 1.5rem;
  font-size: var(--font-s1ze-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project__item__code {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 40px;
  height: 40px;
  background-color: var(--color-700);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  -moz-transition: color 200ms;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.project__item__code:hover {
  color: var(--color-200);
}

.project__item__type {
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--font-s1ze-100);
}

.project__tools li {
  list-style: none;
  display: inline-block;
}

.project__tools li:not(:last-child)::after {
  content: "🔨";
  display: inline-block;
  margin: 0 4px;
}

.projects__item h4 {
  font-size: var(--font-s1ze-400);
  color: var(--color-100);
  margin-top: var(--font-s1ze-200);
  margin-bottom: 0.5rem;
}

.projects__item p {
  margin: var(--font-s1ze-400) 0 2rem 0;
}

.projects__item__link {
  color: var(--color-100);
  font-weight: 600;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.projects__cta {
  width: fit-content;
  display: block;
  margin: 8rem auto 0;
  font-size: var(--font-s1ze-300);
  color: var(--color-100);
  padding: 2rem 4rem;
  border-radius: 1rem;
  font-weight: 600;
}

@media (min-width: 540px) {
  .projects__container {
    --columns: 2;
  }

  .projects__item {
    padding: 4rem 2rem;
  }

  .projects__item p {
    margin-bottom: 3rem;
  }
}
