.projects {
  padding-top: 0;
}

.projects__title {
  text-transform: uppercase;
  font-size: var(--font-s1ze-400);
}

.projects__container {
  --columns: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.projects__item {
  background-color: var(--color-710);
  padding: 2rem 1rem;
  border-radius: 1.5rem;
  font-size: var(--font-s1ze-200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects__item h4 {
  font-size: var(--font-s1ze-400);
  color: var(--color-100);
}

.projects__item p {
  margin: var(--font-s1ze-200) 0 2rem 0;
}

.projects__item a {
  font-size: var(--font-s1ze-100);
}

.projects__item__link {
  color: var(--color-100);
}

.projects__item__link::after {
  content: "↗";
  margin-left: 0.4rem;
  margin-right: 1rem;
}

.projects__cta {
  width: fit-content;
  display: block;
  margin: 8rem auto 0;
  font-size: var(--font-s1ze-200);
  background-color: var(--color-710);
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.projects__cta:hover {
  color: var(--color-110);
}

.projects__cta::after {
  content: "↗";
  margin-left: 0.5rem;
  display: inline-block;
  transform: rotate(-360deg);
  transition: transform 200ms;
}

.projects__cta:hover::after {
  transform: rotate(0);
}

@media (min-width: 540px) {
  .projects__container {
    --columns: 2;
  }

  .projects__item {
    padding: 3rem 2rem;
  }
}
