.work__section {
  padding-bottom: 0;
}

.work__container {
  padding: 2rem 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

.work__section h2 {
  font-size: var(--font-s1ze-800);
  margin-bottom: 1rem;
}

.work__catalogue {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.catalogue__item {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1rem 0;
  font-size: var(--font-s1ze-200);
  transition: background-color 200ms;
  border-radius: 4px;
}

.catalogue__item > * {
  padding: 0.5rem 1rem;
}

.catalogue__item:nth-child(1) {
  font-weight: bold;
  border-radius: 0;
  border-bottom: 1px solid var(--color-710);
}

.catalogue__item:not(:nth-child(1)):hover {
  background-color: var(--color-710);
}

.item__title {
  flex: 1;
  font-weight: bold;
}

.item__link {
  min-width: 100px;
}

.catalogue__item > [data-viewport] {
  display: none;
}

@media (min-width: 768px) {
  .item__title {
    max-width: 200px;
  }
  .catalogue__item > [data-viewport] {
    display: block;
    flex: 1;
  }

  .item__stack li {
    list-style: none;
    margin-right: 0.5rem;
    display: inline-block;
  }

  .item__stack li:not(:last-child)::after {
    content: ",";
  }
}

@media (min-width: 1000px) {
  .item__title {
    max-width: 300px;
  }
}

@media (min-width: 1200px) {
  .item__link {
    min-width: 144px;
  }
}
